<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
        "https://checkstyle.org/dtds/configuration_1_3.dtd">

<module name="Checker">

    <!-- Schakel verplicht package-info.java bestand uit -->
    <module name="JavadocPackage">
        <property name="allowMissingPackageInfo" value="true"/>
    </module>

    <module name="TreeWalker">

        <!-- Verwijder alle verplichte Javadoc checks -->
        <module name="JavadocType" enabled="false"/>
        <module name="JavadocMethod" enabled="false"/>
        <module name="JavadocVariable" enabled="false"/>
        <module name="JavadocStyle" enabled="false"/>

        <!-- Schakel newline-regel afgedwongen stijlregels uit -->
        <module name="LeftCurly">
            <property name="option" value="eol"/>
            <property name="ignoreEnums" value="true"/>
        </module>
        <module name="RightCurly" enabled="false"/>

        <!-- Handige, milde checks -->
        <module name="UnusedImports"/>
        <module name="AvoidStarImport"/>
        <module name="FinalLocalVariable"/>
        <module name="EmptyBlock">
            <property name="option" value="text"/>
        </module>

    </module>
</module>
